<!-- Embed the layout.ejs file -->
<% layout( 'layout' ) -%>


<script>
	// Attach a submit handler to the form
$(document).ready(function() {
	
	$('button#submit').click( function() {
		$.post( '/createAccount', $('form#signupForm').serialize(),
		function(data) {
			console.log("Here1")
			
			console.log(data)
			if(data.success){
				window.location.replace("/home")
			}
			else{
				console.log("Here2")
				console.log(data.errorMessage)
				$("#error").text(data.errorMessage)
			}
	
	   },
	   'json' // I expect a JSON response
	   );
	});

	$('button#btn-signup').click( function() {
		$.post( '/createAccount', $('form#signupform').serialize(),
		function(data) {
			console.log("Here1")
			
			console.log(data)
			if(data.success){
				window.location.replace("/home")
			}
			else{
				console.log("Here2")
				console.log(data.errorMessage)
				$('#signupalert').show();
				$("#signupalert").text(data.errorMessage)
			}
	
	   },
	   'json' // I expect a JSON response
	   );
	});
		
});
  
</script>

<!--
  <form action="/createAccount" method="post" id="signupForm">
<fieldset>
	<legend>Personal Info</legend>
	<table cellpadding="3">
	  <tr><td width="150px"><strong>Username</strong></td><td><input type="text" name="username"></td></tr>
	  <tr><td><strong>Password</strong></td><td><input type="password" name="password"></td></tr>
	  <tr><td><strong>Full Name</strong></td><td><input type="text" name="fullname"></td></tr>
	</table>
</fieldset>
</form>
<p><button id="submit">Submit</button></p>
<div style="color: red" id="error"></div>
-->


  
	<div class="container">	
		<div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">Sign Up</div>
					<div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/login">Sign In</a></div>
				</div>  
				<div class="panel-body" >
					<form id="signupform" class="form-horizontal" role="form">
						
						<div id="signupalert" style="display:none" class="alert alert-danger">
							<p>Error:</p>
							<span></span>
						</div>
							
						
						<div class="form-group">
							<label for="username" class="col-md-3 control-label">Username</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="username" placeholder="Username">
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="col-md-3 control-label">Email</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="email" placeholder="Email Address">
							</div>
						</div>
							
						<div class="form-group">
							<label for="firstname" class="col-md-3 control-label">First Name</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="firstname" placeholder="First Name">
							</div>
						</div>
						<div class="form-group">
							<label for="lastname" class="col-md-3 control-label">Last Name</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="lastname" placeholder="Last Name">
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="col-md-3 control-label">Password</label>
							<div class="col-md-9">
								<input type="password" class="form-control" name="password" placeholder="Password">
							</div>
						</div>
							


						<div class="form-group">
							<!-- Button -->                                        
							<div class="col-md-offset-3 col-md-9">
								<button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> Sign Up</button>
							</div>
						</div>
						
						
						
						
						
					</form>
				 </div>
			</div>

			   		
		 </div>
	</div>

	



  
  <div>
  Armen Vardanyan vaarmen
  </div>
  